.login-main{
  display: flex;
  justify-content: center;
  width: auto;
  background-color: #fff;
  height: auto;
}

.login-form {
  display: flex;
  justify-content: center;
  width: 50%;
}
.card {
  text-align: left;
  padding: 20px;
  height: auto;
}
.login-image{
  height: 800px;
  color: #fff;
  background-image: url("../../assets/images/loginPic.png");
  background-size: 100%;
  background-size:cover;
  width: 50%;
}

.head{
  color: #102352;
font-size: 50px;
font-weight: 600;
line-height: 60px;
}

.form-control{
margin-top: 20px;
width: 340.8px;
height: 40px;

}

.btn-customBlue{
   background: #2C61E4;
   border-radius: 5px;
   border-color: #2C61E4;
  width: 340px;
  height: 40px;

}
