.login-main{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  height: 100%;
}

.login-form {
  display: flex;
  justify-content: center;
  width: 60%;
}
.card {
  text-align: left;
  padding: 20px;
  height: auto;
}
.login-image{
  height: 100%;
  color: #fff;
  background-size: 100%;
  background-size:cover;
  width: 70%;
}
.head{
font-family: 'Silka';
font-style: normal;
width: 411px;
height: 120px;
color: #102352;
font-size: 50px;
font-weight: 600;
line-height: 60px;
display: flex;
align-items: center;
}

.form-control{
margin-top: 20px;
padding-left: 20px;
width: 540.8px;
height: 80px;
background: #FFFFFF;
border: 0.6px solid #D1D1D1;
border-radius: 10px;

}

.form-control::placeholder{
  width: 100px;
height: 27px;
  font-family: 'Silka';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 149.3%;
/* identical to box height, or 27px */

letter-spacing: 0.01em;
margin-left: 20px;

color: #707070;
}

.btn-customBlue, .buttons{
  width: 541px;
  height: 80px;
background-color: #2C61E4;
border-radius: 10px;
font-family: 'Silka';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 149.3%;

text-align: center;
letter-spacing: 0.01em;
color: #FFFFFF;
}


input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.password-warning{
  color:red;
}
